.header {
background-color: #542581;

}

#logo {
    width: 30%;
    margin-left: 10px;
}

.header span, .header a {
    color: #F5B327;
}

.header button {
    background-color: #F5B327;
    color: #542581;
}

.main {
    color: #542581;
}

.btn-details {
    background-color: #542581;
    color: #F5B327;
}

.btn-reset {
    background-color: #F5B327;
    color: #542581;
}

.btn-select {
   margin-left: 200px;
}

.card {
    display: flex;
    flex-direction: column;
    height: 100%;
    border: 1px solid #ddd; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    
  }
  
  .card-img-top {
    object-fit: cover; 
    width: 100%;  
  }
  
  .card-body {
    flex-grow: 1; 
    padding: 1rem;  
  }
  
  .col {
    margin-bottom: 5px;
  }